@import url('https://fonts.googleapis.com/css?family=Anaheim');
body{
	font-family: 'Anaheim';font-size: 22px;
	color:#80818B;	
}

.sidebar {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #FFFFFF;
	overflow-x: hidden;
	padding-top: 20px;
	color: #A3BCF9;
}

.sidebar p {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 18px;
	display: block;
}

.sidebar p:hover {
	color: #224DCE;
}

.sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 18px;
	display: block;
	color: #A3BCF9;
}

.sidebar a:hover, a:visited, a:link, a:active {
	color: #224DCE;
	text-decoration: none;
}

.content {
	margin-left: 160px;
	padding: 0px 10px;
}

.banner{
	width:100%;
}

table {
	border-collapse: collapse;
	width: 100%
}

th {
	height: 50px;
	text-align: left;
	vertical-align: bottom;
	background-color: #A3BCF9;
	color: white;
}

th, td {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

tr:nth-child(odd) {
	background-color: #A3BCF9;
}

tr:hover {
	background-color: #7AA0F9;
}

